<html>
    <head>
        <title>WoWatch</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body class="min-vh-100 d-flex flex-column">
        <!-- Header -->
        <header class="container-fluid border-bottom px-0 mx-0 shadow-sm d-flex flex-row" style="z-index: 2;">
            <!-- Logo -->
            <div class="col-2 border-end d-flex justify-content-center py-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye-fill text-primary" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
                <span class="fw-bold fs-4 ms-3">WoWatch</span>
            </div>
            <!-- Navigation -->
            <nav class="navbar mx-5 fs-5 navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link mx-2 text-primary">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link mx-2">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        
            <!-- Content -->
        <!-- Headtext with img -->
        <div class="container-fluid p-0" style="position: relative; overflow: hidden; height: 120px; border-bottom: 7px solid white;">
            <div class="home-content-img"></div>
            <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <h1 class="text-white fw-bold">Servers we currently watching</h1>
            </div>
        </div>

        <!-- Server list -->
        <div class="container mt-4 d-flex flex-row flex-wrap justify-content-center">
            <% servers.forEach((server) => { %>
                <div class="card m-3" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= server.dataValues.name %></h5>
                        <h6 class="card-subtitle"><a href="#" class="text-secondary text-decoration-none"><%= server.dataValues.address %></a></h6>
                        <a href="/stat/<%= server.dataValues.id %>" class="btn btn-primary mt-3">View statistics</a>
                    </div>
                </div>
            <% }) %>
        </div>

        <!-- Footer -->
        <footer class="container-fluid bg-black p-3 text-secondary text-end mt-auto" style="font-size: 14px;">
            <p>This script is open source and can be found on <a href="#" class="text-decoration-none">Github</a>. Powered by <a href="https://expressjs.com/ru/" class="text-decoration-none">Express.js</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>