<footer class="container-fluid bg-black p-3 text-secondary text-end mt-auto" style="font-size: 14px;">
    <p>This script is open source and can be found on <a href="#" class="text-decoration-none">Github</a>. Powered by <a href="https://expressjs.com/ru/" class="text-decoration-none">Express.js</p>
</footer>